{% extends 'reportingTool/base.html' %}

{% block title %}
<title>Details| Report Queries </title>
{% endblock %}

{% block content %}
	<h2>{{title}}</h2>
	<table class='table'>
		<thead>
			<th class='row'>
				<td> ID </td>
				<td> Query </td>
				<td> SQL Query </td>
				<td> Date Updated</td>
			</th>
		</thead>
		<tbody>
			{% for object in objects %}
			<tr class='row'>
				{% for value in object %}
					<td> {{value}}</td>
				{% endfor %}	
			</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}