
{% load static %}

<link rel='stylesheet' type='text/css'  href="{% static 'reportingTool/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'reportingTool/base.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet" type="text/css"/>
{% load render_table from django_tables2 %}

<div class="container">
	<style>
		.helptext{
			visibility: hidden;
		}
	</style>

	<form method='GET'>
	
		{% for j in filter.form %}
			{{j.label}}
			{{j}}
		{% endfor %}

	    <input type='submit' value='Filter' />
	    |
	    Displaying {{ filter.qs.count }} of {{ filter.queryset.count }} items.
	    |
	    <a href='{{ request.path }}' >Clear</a>
	</form>

	{% if table %}
		<div class='row'>
		    <div class='col'>
		    	{% render_table table "/Users/ashish/Documents/rcreporter/reportingTool/templates/reportingTool/bootstrap.html" %}
		 	</div>
		</div>
	{% endif %}
</div>