{% extends 'reportingTool/base.html' %}

{% comment %}
This template is used as main template which is rendered when we access the default page
of the reportingTool app.

This template contains iframes housing different pages content in order to show 
result from different pages at single page.  
{% endcomment %}

{% block title %}
<title>DashBoard | Reporting Tool</title>
{% endblock %}

{% block content %}
{% load static %}
{% load render_table from django_tables2 %}

<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/bootstrap.css" />

<link rel="stylesheet" type='text/css' href="{% static 'reportingTool/main.css' %}" />


<div class='container'>
    <ul class='nav nav-pills nav-justified'>
        <li class='active'>
            <a data-toggle='tab' href='#project'>Projects</a>
        </li>
        <li>
            <a data-toggle='tab' href='#site'>Sites</a>
        </li>
        <li>
            <a data-toggle='tab' href='#projExecTmStmp'>Project Execution Timestamp</a>
        </li>
        <li>
            <a data-toggle='tab' href='#siteReports'>Site Reports</a>
        </li>
        {% comment %}
        A tab for the Queries table (Future Work)
        <li>
            <a data-toggle='tab' href='#miscellaneous'>Miscellaneous</a>
        </li>
        {% endcomment %}
    </ul>
    <br>
    <div class='tab-content'>
        <div id='project' class='tab-pane fade in active'>
            <iframe class='frame' src=" {% url 'reportingTool:project' %}"></iframe>
        </div>
        <div id='site' class='tab-pane fade'>
            <iframe src=" {% url 'reportingTool:site' %}"></iframe>
        </div>
        <div id='projExecTmStmp' class='tab-pane fade'>
            <iframe src=" {% url 'reportingTool:projExec' %}"></iframe>
        </div>
        <div id='siteReports' class='tab-pane fade'>            
            <iframe src=" {% url 'reportingTool:siteReport' %}"></iframe>
        </div>
        {% comment %}
            We will probably end up using this in future to add Queries table.
            <div id='miscellaneous' class='tab-pane fade'>            
                <div class='row'>
                    <div class='col'>
                       <form action='' method='post' class='post-form'>
                            {% csrf_token %}
                            <fieldset>
                                <span>Select a query from the Drop Down</span>
                            </br>
                            </br>
                            <select name='query-name' id='query-id' class="form-control input-md" onchange="run()">
                                {% for txt,sql in queryObjects %}
                                <option value="{{txt}}">
                                    {{sql}} 
                                </option>
                                {% endfor %}
                            </select>

                            <div class='row'>
                                <div class='col-sm-4'></div>
                                <div class='col-sm-4'></div>
                                <div class='col-sm-4'></div>
                            </div>

                            </br>
                            </br>
                            </br>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        {% endcomment %}
    </div>
</div>

{% endblock %}